<header class="header">
  <div class="container header__wrapper">
    <a href="index.html" class="header__logo-box" id="up-logo" aria-label="logo Anemone">
      <svg class="header__logo">
        <use href="images/icons.svg#icon-logo-mo"></use>
      </svg>
    </a>
    <nav class="nav">
      <a href="index.html" class="nav__link">Anemone</a>
      <a href="#about-us" class="nav__link">About us</a>
      <a href="#store" class="nav__link">Store</a>
      <a href="#delivery" class="nav__link">Delivery</a>
      <a href="#blog" class="nav__link">Blog</a>
    </nav>
    <div class="header__btn-box">
      <button contact-us-open type="button" class="header__btn">
        <svg class="header__icon-tel">
          <use href="images/icons.svg#icon-call_us"></use>
        </svg>
      </button>
      <button class="menu-toggle js-open-menu" type="button" class="header__btn">
        <svg class="header__icon-burger">
          <use href="images/icons.svg#icon-burger-mo"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
