<section class="section store" id="store">
  <div class="container">
    <h2 class="store__title subtitle">STORE</h2>
    <div class="container__store">
      <ul class="list store__list">
        <li class="store__item">
          <div data-aos="zoom-in">
            <div class="store__card">
              <picture>
                <source
                  srcset="./images/store_01-dt@1x.jpg, ./images/store_01-dt@2x.jpg 2x"
                  media="screen and
                  (min-width: 1280px)"
                  width="600"
                  height="542"
                />
                <source
                  srcset="./images/store_01-tb@1x.jpg, ./images/store_01-tb@2x.jpg 2x"
                  media="screen and
                  (max-width: 1279px)"
                  width="344"
                  height="399"
                />
                <source
                  srcset="./images/store_01-mo@1x.jpg, ./images/store_01-mo@2x.jpg 2x"
                  media="screen and
                  (max-width: 767px)"
                  width="136"
                  height="155"
                />
                <img
                  src="./images/store_01-dt@1x.jpg"
                  alt="flower from compliment"
                  class="store__img"
                  width="600"
                  height="542"
                />
              </picture>
            </div>
            <h3 class="store__item-title">compliments</h3>
            <p class="store__item-price">from $15</p>
          </div>
        </li>
        <li class="store__item">
          <div data-aos="zoom-in">
            <div class="store__card">
              <picture>
                <source
                  srcset="./images/store_02-dt@1x.jpg, ./images/store_02-dt@2x.jpg 2x"
                  media="screen and
                  (min-width: 1280px)"
                  width="600"
                  height="542"
                />
                <source
                  srcset="./images/store_02-tb@1x.jpg, ./images/store_02-tb@2x.jpg 2x"
                  media="screen and
                  (max-width: 1279px)"
                  width="344"
                  height="399"
                />
                <source
                  srcset="./images/store_02-mo@1x.jpg, ./images/store_02-mo@2x.jpg 2x"
                  media="screen and
                  (max-width: 767px)"
                  width="136"
                  height="155"
                />
                <img
                  src="./images/store_02-dt@1x.jpg"
                  alt="small bouquets"
                  class="store__img"
                  width="600"
                  height="542"
                />
              </picture>
            </div>
            <h3 class="store__item-title">bouquets size S</h3>
            <p class="store__item-price">from $25</p>
          </div>
        </li>
        <li class="store__item">
          <div data-aos="zoom-in">
            <div class="store__card">
              <picture>
                <source
                  srcset="./images/store_03-dt@1x.jpg, ./images/store_03-dt@2x.jpg 2x"
                  media="screen and
                  (min-width: 1280px)"
                  width="600"
                  height="542"
                />
                <source
                  srcset="./images/store_03-tb@1x.jpg, ./images/store_03-tb@2x.jpg 2x"
                  media="screen and
                  (max-width: 1279px)"
                  width="344"
                  height="399"
                />
                <source
                  srcset="./images/store_03-mo@1x.jpg, ./images/store_03-mo@2x.jpg 2x"
                  media="screen and
                  (min-width: 767px)"
                  width="136"
                  height="155"
                />
                <img
                  src="./images/store_03-dt@1x.jpg"
                  alt="midle bouquets"
                  class="store__img"
                  width="600"
                  height="542"
                />
              </picture>
            </div>
            <h3 class="store__item-title">bouquets size M</h3>
            <p class="store__item-price">from $45</p>
          </div>
        </li>
        <li class="store__item">
          <div data-aos="zoom-in">
            <div class="store__card">
              <picture>
                <source
                  srcset="./images/store_04-dt@1x.jpg, ./images/store_04-dt@2x.jpg 2x"
                  media="screen and
                  (min-width: 1280px)"
                  width="600"
                  height="542"
                />
                <source
                  srcset="./images/store_04-tb@1x.jpg, ./images/store_04-tb@2x.jpg 2x"
                  media="screen and
                  (max-width: 1279px)"
                  width="344"
                  height="399"
                />
                <source
                  srcset="./images/store_04-mo@1x.jpg, ./images/store_04-mo@2x.jpg 2x"
                  media="screen and
                  (max-width: 767px)"
                  width="136"
                  height="155"
                />
                <img
                  src="./images/store_04-dt@1x.jpg"
                  alt="large bouquets"
                  class="store__img"
                  width="600"
                  height="542"
                />
              </picture>
            </div>
            <h3 class="store__item-title">bouquets size L</h3>
            <p class="store__item-price">from $60</p>
          </div>
        </li>
      </ul>
    </div>
    <button contact-us-open2="" type="button" class="btn">Order flowers</button>
  </div>
</section>
