<section id="blog" class="blog section">
  <div class="container">
    <h2 class="blog__title subtitle">BLOG</h2>
    <!--   <ul class="slider">
      <li class="slider__item">
        <picture>
          <source
            srcset="./images/blog_01-dt@1x.jpg, ./images/blog_01-dt@2x.jpg 2x"
            media="screen and
              (min-width: 1280px)"
            width="390"
            height="421"
          />
          <source
            srcset="./images/blog_01-tb@1x.jpg, ./images/blog_01-tb@2x.jpg 2x"
            media="screen and
              (min-width: 768px)"
            width="344"
            height="398"
          />
          <source
            srcset="./images/blog_01-mo@1x.jpg, ./images/blog_01-mo@2x.jpg 2x"
            media="screen and
              (min-width: 320px)"
            width="136"
            height="181"
          />
          <img
            src="./images/blog_01-dt@1x.jpg"
            class="slider__foto"
            alt="flower"
            width="390"
            height="421"
          />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="./images/blog_02-dt@1x.jpg, ./images/blog_02-dt@2x.jpg 2x"
            media="screen and
              (min-width: 1280px)"
            width="390"
            height="421"
          />
          <source
            srcset="./images/blog_02-tb@1x.jpg, ./images/blog_02-tb@2x.jpg 2x"
            media="screen and
              (min-width: 768px)"
            width="344"
            height="398"
          />
          <source
            srcset="./images/blog_02-mo@1x.jpg, ./images/blog_02-mo@2x.jpg 2x"
            media="screen and
              (min-width: 320px)"
            width="136"
            height="181"
          />
          <img
            src="./images/blog_02-dt@1x.jpg"
            class="slider__foto"
            alt="flower"
            width="390"
            height="421"
          />
        </picture>
      </li>
      <li class="slider__item slider__item--missing">
        <picture>
          <source
            srcset="./images/blog_03-dt@1x.jpg, ./images/blog_03-dt@2x.jpg 2x"
            media="screen and
              (min-width: 1280px)"
            width="390"
            height="421"
          />
          <source
            srcset="./images/blog_03-tb@1x.jpg, ./images/blog_03-tb@2x.jpg 2x"
            media="screen and
              (min-width: 768px)"
            width="344"
            height="398"
          />
          <source
            srcset="./images/blog_03-mo@1x.jpg, ./images/blog_03-mo@2x.jpg 2x"
            media="screen and
              (min-width: 320px)"
            width="136"
            height="181"
          />
          <img
            src="./images/blog_03-dt@1x.jpg"
            class="slider__foto"
            alt="flower"
            width="390"
            height="421"
          />
        </picture>
      </li>
    </ul>
    <div class="slider__directions">
      <svg class="slider__arrow"><use href="/src/images/icons.svg#icon-arrow_left"></use></svg>
      <svg class="slider__arrow"><use href="/src/images/icons.svg#icon-arrow_right"></use></svg>
    </div>
  -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/blog_01-dt@1x.jpg, ./images/blog_01-dt@2x.jpg 2x"
              media="screen and
                (min-width: 1280px)"
              width="390"
              height="421"
            />
            <source
              srcset="./images/blog_01-tb@1x.jpg, ./images/blog_01-tb@2x.jpg 2x"
              media="screen and
                (max-width: 1279px)"
              width="344"
              height="398"
            />
            <source
              srcset="./images/blog_01-mo@1x.jpg, ./images/blog_01-mo@2x.jpg 2x"
              media="screen and
                (max-width: 767px)"
              width="136"
              height="181"
            />
            <img
              src="./images/blog_01-dt@1x.jpg"
              class="swiper__foto"
              alt="flower"
              width="390"
              height="421"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/blog_02-dt@1x.jpg, ./images/blog_02-dt@2x.jpg 2x"
              media="screen and
                (min-width: 1280px)"
              width="390"
              height="421"
            />
            <source
              srcset="./images/blog_02-tb@1x.jpg, ./images/blog_02-tb@2x.jpg 2x"
              media="screen and
                (max-width: 1279px)"
              width="344"
              height="398"
            />
            <source
              srcset="./images/blog_02-mo@1x.jpg, ./images/blog_02-mo@2x.jpg 2x"
              media="screen and
                (max-width: 767px)"
              width="136"
              height="181"
            />
            <img
              src="./images/blog_02-dt@1x.jpg"
              class="swiper__foto"
              alt="flower"
              width="390"
              height="421"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/blog_03-dt@1x.jpg, ./images/blog_03-dt@2x.jpg 2x"
              media="screen and
                (min-width: 1280px)"
              width="390"
              height="421"
            />
            <source
              srcset="./images/blog_03-tb@1x.jpg, ./images/blog_03-tb@2x.jpg 2x"
              media="screen and
                (max-width: 1279px)"
              width="344"
              height="398"
            />
            <source
              srcset="./images/blog_03-mo@1x.jpg, ./images/blog_03-mo@2x.jpg 2x"
              media="screen and
                (max-width: 767px)"
              width="136"
              height="181"
            />
            <img
              src="./images/blog_03-dt@1x.jpg"
              class="swiper__foto"
              alt="flower"
              width="390"
              height="421"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/store_01-dt@1x.jpg, ./images/store_01-dt@2x.jpg 2x"
              media="screen and
                (min-width: 1280px)"
              width="390"
              height="421"
            />
            <source
              srcset="./images/store_01-tb@1x.jpg, ./images/store_01-tb@2x.jpg 2x"
              media="screen and
                (max-width: 1279px)"
              width="344"
              height="398"
            />
            <source
              srcset="./images/store_01-mo@1x.jpg, ./images/store_01-mo@2x.jpg 2x"
              media="screen and
                (max-width: 767px)"
              width="136"
              height="181"
            />
            <img
              src="./images/store_01-dt@1x.jpg"
              class="swiper__foto"
              alt="flower"
              width="390"
              height="421"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/store_02-dt@1x.jpg, ./images/store_02-dt@2x.jpg 2x"
              media="screen and
                (min-width: 1280px)"
              width="390"
              height="421"
            />
            <source
              srcset="./images/store_02-tb@1x.jpg, ./images/store_02-tb@2x.jpg 2x"
              media="screen and
                (max-width: 1279px)"
              width="344"
              height="398"
            />
            <source
              srcset="./images/store_02-mo@1x.jpg, ./images/store_02-mo@2x.jpg 2x"
              media="screen and
                (max-width: 767px)"
              width="136"
              height="181"
            />
            <img
              src="./images/store_02-dt@1x.jpg"
              class="swiper__foto"
              alt="flower"
              width="390"
              height="421"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/store_03-dt@1x.jpg, ./images/store_03-dt@2x.jpg 2x"
              media="screen and
                (min-width: 1280px)"
              width="390"
              height="421"
            />
            <source
              srcset="./images/store_03-tb@1x.jpg, ./images/store_03-tb@2x.jpg 2x"
              media="screen and
                (max-width: 1279px)"
              width="344"
              height="398"
            />
            <source
              srcset="./images/store_03-mo@1x.jpg, ./images/store_03-mo@2x.jpg 2x"
              media="screen and
                (max-width: 767px)"
              width="136"
              height="181"
            />
            <img
              src="./images/store_03-dt@1x.jpg"
              class="swiper__foto"
              alt="flower"
              width="390"
              height="421"
            />
          </picture>
        </div>
      </div>
      <div class="swiper__directions">
        <svg class="swiper__arrow swiper__arrow--left">
          <use href="/src/images/icons.svg#icon-arrow_left"></use>
        </svg>
        <svg class="swiper__arrow swiper__arrow--right">
          <use href="/src/images/icons.svg#icon-arrow_right"></use>
        </svg>
      </div>
    </div>
    <p class="blog__text">Follow to our newsletter</p>
    <button follow-open class="blog-btn">Subscribe</button>
  </div>
</section>
