<section class="hero section">
  <div class="container hero__container">
    <h1 class="hero__title">ANEMONĒ</h1>
    <h1 class="hero__stitle">ANEMONE</h1>
    <h2 class="hero__mintitle">flower studio</h2>
    <div class="hero__img">
      <picture>
        <source
          srcset="./images/hero-dt@1x.jpg, ./images/hero-dt@2x.jpg 2x"
          media="screen and
              (min-width: 1280px)"
          width="390"
          height="636"
        />
        <source
          srcset="./images/hero-tb@1x.jpg, ./images/hero-tb@2x.jpg 2x"
          media="screen and
              (min-width: 768px)"
          width="390"
          height="636"
        />
        <source
          srcset="./images/hero-mo@1x.jpg, ./images/hero-mo@2x.jpg 2x"
          media="screen and
              (min-width: 320px)"
          width="145"
          height="274"
        />
        <img src="./images/hero-dt@1x.jpg" alt="flower" width="390" height="636" />
      </picture>
    </div>
    <button contact-us-open3="" type="button" class="hero__btn">
      <svg class="hero__btn-svg" width="64" height="76">
        <use class="hero__btn--mo" href="images/icons.svg#icon-btn_hero-mo"></use>
        <use class="hero__btn--tb" href="images/icons.svg#icon-btn_hero-tb"></use>
        <use class="hero__btn--dt" href="images/icons.svg#icon-btn_hero-dt"></use>
      </svg>
    </button>
  </div>
</section>
