<div class="backdrop is-hidden" follow-container>
  <div class="modal-follow">
    <button follow-close class="modal-follow__btn--close">
      <svg width="18" height="18">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <picture>
      <source
        srcset="./images/nslt_subscr-dt@1x.jpg, ./images/nslt_subscr-dt@2x.jpg 2x"
        media="screen and
              (min-width: 1280px)"
        width="428"
        height="528"
      />
      <source
        srcset="./images/nslt_subscr-tb@1x.jpg, ./images/nslt_subscr-tb@2x.jpg 2x"
        media="screen and
              (min-width: 768px)"
        width="588"
        height="271"
      />
      <source
        srcset="./images/nslt_subscr-mo@1x.jpg, ./images/nslt_subscr-mo@2x.jpg 2x"
        media="screen and
              (min-width: 320px)"
        width="272"
        height="121"
      />
      <img
        src="./images/nslt_subscr-mo@1x.jpg"
        class="slider-foto"
        alt="flower"
        width="272"
        height="121"
      />
    </picture>
    <div class="modal-follow__dt">
      <h2 class="modal-follow__heading">Follow to our newsletter</h2>
      <p class="modal-follow__paragraph">
        Be the first to get exclusive offers and the latest news on our product directly in your
        box.
      </p>
      <form>
        <label class="modal-follow__label">
          <input
            class="modal-follow__input"
            type="email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            name="email"
            placeholder="Your email"
            required
          />
          <svg class="modal-follow__icon--correct" width="20" height="20">
            <use href="./images/icons.svg#icon-correct-logo"></use>
          </svg>
          <svg class="modal-follow__icon--error" width="20" height="20">
            <use href="./images/icons.svg#icon-error-logo"></use>
          </svg>
          <span class="modal-follow__text--correct modal-follow__text--error">Email</span>
        </label>
        <button class="modal-follow__button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
<script src="./modal-follow.js"></script>
