.delivery {
  font-family: $main-font;
  margin-right: 0;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-right: auto;

    @include tablet {
      margin-bottom: 25px;
    }
    @include desktop {
      margin-bottom: 52px;
    }
    // margin: auto;
  }
  &__list {
    display: block;
    flex-flow: row;
    font-size: 22px;
    font-weight: 500;
    list-style-type: none;
    @include desktop {
      margin-left: 72px;
    }
  }
  &__number {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid $color-dark;
    border-radius: 50%;
    align-items: center;

    margin-right: 8px;
    padding: 8px;
    font-family: $main-font, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    @include tablet {
      width: 64px;
      height: 64px;
      font-size: 26px;
      padding-top: 16px;
      margin-right: 20px;
    }
    @include desktop {
      width: 64px;
      height: 64px;
      font-size: 26px;
      padding-top: 16px;
      margin-right: 58px;
    }
  }
  &__txt {
    position: absolute;
    margin-right: 24px;
    margin-left: 48px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    max-width: 380px;
    // max-width: 232px;
    // top: 0px;
    @include tablet {
      font-size: 24px;
      line-height: 29px;
      margin-left: 84px;
      max-width: 593px;
    }
    @include desktop {
      font-size: 32px;
      line-height: 39px;
      margin-left: 120px;
      max-width: 855px;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    gap: 14px;
    margin-bottom: 32px;
    font-size: 24px;
    @include tablet {
      margin-bottom: 63px;
      font-size: 44px;
    }
    @include desktop {
      margin-bottom: 103px;
      font-size: 44px;
    }
  }
  &__foto {
    margin-top: 35px;
    object-fit: contain;
    @include tablet {
      margin-top: 40px;
    }
    @include desktop {
      margin-top: 69px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
