$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Inter', sans-serif;
$color-light: #ffffff;
$color-dark: #000000;
$color-btn: #e86f54;
$modal-text: #5c5c5c;
$svg-light: #ffffff;
$svg-dark: #0e0e0e;
$correct: #3cbc81;
$invalid: #e74a3b;
$color-btn: #e86f54;
$modal-text: #5c5c5c;
$svg-light: #ffffff;
$svg-dark: #0e0e0e;
$correct: #3cbc81;
$invalid: #e74a3b;
$placeholder: #11111166;
$button-hover: #e25b41;
$button-focus: #fa6f54;

$button-hover: #e25b41;
$button-focus: #fa6f54;
$background-color-bachdrop: #00000030;
$input-border-normal: #d7d7d7;
$input-border-hover: #111111b2;
